.index-container {
  min-height: 100vh;
}
.index-index {
  width: 100%;
  height: 1710px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.index-nav {
  top: 0px;
  left: 0px;
  width: 428px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(151, 184, 194, 0.25);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(246, 253, 255, 1);
}
.index-name {
  top: 21px;
  left: 0px;
  width: 121px;
  display: flex;
  padding: 0 5px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.index-text {
  color: rgba(150, 183, 194, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-nav1 {
  top: 27px;
  left: 195px;
  width: 233px;
  display: flex;
  padding: 0 10px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.index-text02 {
  color: rgba(150, 183, 194, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text04 {
  color: rgba(150, 183, 194, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text06 {
  color: rgba(150, 183, 194, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text08 {
  color: rgba(150, 183, 194, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-top {
  top: 50px;
  left: 0px;
  width: 428px;
  height: 250px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-size: cover;
  background-image: url("../public/playground_assets/d989bdb8-9167-4ff9-b90a-665d7cd6b03b-x51m-300h.undefined");
}
.index-about {
  top: 300px;
  left: 0px;
  width: 428px;
  height: 470px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.index-title {
  top: 0px;
  left: 171px;
  width: 85px;
  display: flex;
  padding: 25px 0 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.index-text10 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.index-text12 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-picture {
  top: 123px;
  left: 32px;
  width: 130px;
  height: 130px;
  position: absolute;
  border-color: transparent;
}
.index-about1 {
  top: 110px;
  left: 153px;
  width: 275px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
}
.index-profile {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  margin-bottom: 20px;
  flex-direction: column;
}
.index-title1 {
  display: flex;
  padding: 0 30px 0 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
  flex-direction: column;
}
.index-text14 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.index-line {
  width: 213px;
  height: 0px;
  position: relative;
}
.index-profile1 {
  display: flex;
  padding: 0 25px 0 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.index-text16 {
  color: rgba(151, 184, 194, 1);
  width: 139px;
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.index-text21 {
  color: rgba(151, 184, 194, 1);
  width: 210px;
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-skill {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
}
.index-skill1 {
  display: flex;
  padding: 0 30px 0 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 15px;
  flex-direction: column;
}
.index-text26 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.index-line1 {
  width: 213px;
  height: 0.000018621052731759846px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-lineblue {
  top: 0.00000585732641411596px;
  left: 67px;
  width: 146px;
  height: 0px;
  position: absolute;
}
.index-lineyellow {
  top: 0.00000585732641411596px;
  left: 0px;
  width: 67px;
  height: 0px;
  position: absolute;
}
.index-icon {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  flex-direction: column;
}
.index-icon01 {
  display: flex;
  padding: 0 33px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 10px;
}
.index-ai {
  width: 45px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 27px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-icon-ai {
  top: 0px;
  left: 8px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
  border-radius: 3px;
}
.index-text28 {
  top: 28px;
  color: rgba(151, 184, 194, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-ps {
  width: 52px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 27px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-icon-ps {
  top: 0px;
  left: 12px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
  border-radius: 3px;
}
.index-text30 {
  top: 28px;
  color: rgba(151, 184, 194, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-pr {
  width: 53px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-icon-pr {
  top: 0px;
  left: 13px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
  border-radius: 3px;
}
.index-text32 {
  top: 28px;
  color: rgba(151, 184, 194, 1);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-icon02 {
  display: flex;
  padding: 0 31px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.index-ae {
  width: 58px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 20px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-icon-ae {
  top: 0px;
  left: 15px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
  border-radius: 3px;
}
.index-text34 {
  top: 28px;
  color: rgba(151, 184, 194, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-garage-band {
  width: 58px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 20px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-icon-gb {
  top: 0px;
  left: 15px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
  border-radius: 3px;
}
.index-text36 {
  top: 28px;
  color: rgba(151, 184, 194, 1);
  width: 58px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-ibis-paint {
  width: 57px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.index-iconibis {
  top: 0px;
  left: 15px;
  width: 28px;
  height: 28px;
  position: absolute;
  border-color: transparent;
  border-radius: 3px;
}
.index-text38 {
  top: 28px;
  color: rgba(151, 184, 194, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.index-works {
  top: 770px;
  left: 0px;
  width: 428px;
  height: 430px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(246, 253, 255, 1);
}
.index-title2 {
  top: 0px;
  left: 172px;
  width: 84px;
  display: flex;
  padding: 25px 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.index-text40 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.index-text42 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-samnail {
  top: 118px;
  left: 45px;
  width: 337px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.index-samnail01 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 15px;
}
.index-link {
  display: contents;
}
.index-movie03 {
  width: 159px;
  height: 89px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
}
.index-link1 {
  display: contents;
}
.index-movie06 {
  width: 159px;
  height: 89px;
  position: relative;
  border-color: transparent;
}
.index-samnail02 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.index-illustration01 {
  width: 159px;
  height: 89px;
  position: relative;
  border-color: transparent;
  margin-right: 20px;
}
.index-link2 {
  display: contents;
}
.index-music01 {
  width: 159px;
  height: 89px;
  position: relative;
  border-color: transparent;
}
.index-more {
  top: 350px;
  left: 168px;
  width: 92px;
  display: flex;
  padding: 5px 28px;
  position: absolute;
  box-shadow: 3px 3px 2px 0px rgba(151, 184, 194, 0.25);
  align-items: center;
  border-color: rgba(151, 184, 194, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(253, 255, 178, 1);
}
.index-text44 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-contact {
  top: 1200px;
  left: 0px;
  width: 428px;
  height: 450px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.index-title3 {
  top: 0px;
  left: 158px;
  width: 112px;
  display: flex;
  padding: 25px 0 0 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.index-text46 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.index-text48 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-form {
  top: 110px;
  left: 54px;
  width: 320px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.index-label {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 5px;
}
.index-text50 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-frame1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.index-text52 {
  color: rgba(211, 41, 41, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-content {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.index-input {
  color: rgba(179, 179, 179, 1);
  display: flex;
  padding: 11px;
  position: relative;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  border-color: rgba(151, 184, 194, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.index-form1 {
  top: 197px;
  left: 54px;
  width: 320px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.index-label1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 5px;
}
.index-text54 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-frame11 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.index-text56 {
  color: rgba(211, 41, 41, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-content1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.index-input1 {
  color: rgba(179, 179, 179, 1);
  display: flex;
  padding: 11px;
  position: relative;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  border-color: rgba(151, 184, 194, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.index-form2 {
  top: 284px;
  left: 54px;
  width: 320px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.index-label2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 5px;
}
.index-text58 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-frame12 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.index-text60 {
  color: rgba(211, 41, 41, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-content2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.index-input2 {
  color: rgba(179, 179, 179, 1);
  display: flex;
  padding: 11px;
  position: relative;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  border-color: rgba(151, 184, 194, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.index-send {
  top: 380px;
  left: 168px;
  width: 92px;
  display: flex;
  padding: 5px 28px;
  position: absolute;
  box-shadow: 3px 3px 2px 0px rgba(151, 184, 194, 0.25);
  align-items: center;
  border-color: rgba(151, 184, 194, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(253, 255, 178, 1);
}
.index-text62 {
  color: rgba(151, 184, 194, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-footer {
  top: 1650px;
  left: 0px;
  width: 428px;
  height: 60px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(151, 184, 194, 1);
}
.index-nav2 {
  top: 0px;
  left: 117px;
  width: 193px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.index-nav3 {
  display: flex;
  padding: 10px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.index-text64 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text66 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text68 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text70 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text72 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Zen Maru Gothic;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
